$primary: #191826;
$secondary: #FCFAF9;

$bg-primary: #191826;
$bg-secondary: #FA7453;
$bg-tertiary: #FCFAF9;

$primary-hover: #66E2DC;
$secondary-hover: #FFB964;
$tertiary-hover: #FA7453;

$b-radius: 12px;
